/* Bakgrundsfärg */
body {
    background-color: rgb(12, 23, 35)
  }
  /* Text i headern */
  h1 {
    font-size: 40px;font-family: "helvetica";
    text-align: center;
    color: rgb(223, 226, 231);
        }
 /* Överskrift */
 h2 {
 text-align: center;
    color: rgb(116, 118, 121);   
        }
 /* Text i paragraf */  
 .paragraph {
    text-align: center;
    color: rgb(223, 226, 231);
        }